@import url('https://fonts.googleapis.com/css2?family=Taviraj:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--color-primary: #ff6c00;
	--color-red-601: #d84727;
	--color-orange-101: '#FFF3E4';
	--color-purple-301: #e2a9fd;
	--color-purple-901: #570c7a;
	--color-esmerald-201: #a3e4db;
	--color-teal-501: #0ebea6;
	--color-gray-201: #999999;
	--color-gray-701: #333333;
	--color-zinc-101: #f7f6f4;
}

/* ANTD */

/* BUTTON */
/* normal Default */
.ant-btn {
	background: var(--color-teal-501);
	color: white;

	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 18px;
}

.ant-btn:hover {
	background: white;
	color: var(--color-teal-501);
	border: 1px solid var(--color-teal-501);
}

.ant-btn > span {
	font-family: Taviraj, sans-serif;
}

/* normal Primary */
.ant-btn-primary {
	background: var(--color-purple-301);
	color: white;
	border-radius: 8px;
}

.ant-btn-primary:hover {
	background: var(--color-purple-901);
	color: white;
	border-radius: 8px;
}
/* End normal buton */

/* Button Ghost */
/* ghost Default */
.ant-btn.ant-btn-background-ghost {
	background-color: var(--color-zinc-101);
	border: 1px solid var(--color-teal-501);
	color: var(--color-teal-501);

	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 18px;
}

.ant-btn.ant-btn-background-ghost:hover {
	background-color: var(--color-teal-501);
	color: var(--color-zinc-101);
}

/* For background on banner */
.ant-btn.ant-btn-background-ghost.bg-orange-101 {
	background-color: var(--color-orange-101);
	border: 1px solid var(--color-teal-501);
	color: var(--color-teal-501);
}

/* For background on shopping cart detail */
.ant-btn.ant-btn-background-ghost.bg-white {
	background-color: white;
	border: 1px solid var(--color-teal-501);
	color: var(--color-teal-501);
}

/* ghost Primary */
.ant-btn-primary.ant-btn.ant-btn-background-ghost {
	background-color: white;
	border: 1px solid var(--color-purple-301);
	color: var(--color-purple-901);

	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 18px;
}
.ant-btn-primary.ant-btn.ant-btn-background-ghost:hover {
	background-color: var(--color-purple-901);
	border: 1px solid var(--color-purple-301);
	color: white;
}
/* End button ghost */
/*********************************************************************************/

/* INPUT */
/* normal input */
.ant-input {
	border: 0px;
}

/* Password */
/* Input tipo password width 95% */
.ant-input-password.w-95-percent > .ant-input {
	width: 95%;
	border: 1px solid black;
	border-radius: 4px;
}

/* Input tipo password heigh 50px */
.ant-input-password.h-50px > .ant-input {
	height: 50px;
}

/* Input tipo password icono posicion */
.ant-input-password > .ant-input-suffix > .ant-input-password-icon {
	position: relative;
	right: 25px;
}

/* Search */
.ant-input-search > .ant-input-wrapper > .ant-input {
	border-radius: 8px 0px 0px 8px;
	font-size: 14px;
	padding: 6px 8px;
}

.ant-input-search
	> .ant-input-group
	> .ant-input-group-addon:last-child
	.ant-input-search-button {
	padding-top: 0;
	padding-bottom: 0;
	border-radius: 0 8px 8px 0;
}

/* Selector */
.ant-select:not(.ant-select-customize-input) .ant-select-selector {
	border: 0px;
}
.ant-select-suffix {
	color: black;
}

/* Date picker */
.ant-picker {
	border: 0px;
}
/*********************************************************************************/

/* BADGE */
.ant-badge > .ant-badge-count {
	top: -2px;
	right: -2px;
}
/*********************************************************************************/

/* CUSTOM CLASSES */
.text-modified {
	text-align: justify;
	text-align-last: center;
}

.btn-modified {
	width: 95%;
	padding: 0.5rem;
	border-radius: 4px;
	font-weight: bold;
	color: white;
}

.input-modified {
	width: 95%;
	padding: 0.5rem;
	border: 1px solid black;
	border-radius: 4px;
}

.input-billing {
	width: 100%;
	padding-top: 5px;
	border-bottom: 1px solid #333333;
}
